.msg-list {
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.msg-add {
  position: absolute;
  bottom: 4vh;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  aspect-ratio: 562/84;
}

.msg-add img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  pointer-events: all;
  /* 添加过渡效果 */
  transition: all 0.2s ease-in-out;
}

.msg-add-box {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  gap: 5vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.msg-box {
  width: 35%;
  border: 0.2vw solid rgba(180, 140, 120, 1);
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.3),
    inset 0 1px 2px rgba(255, 255, 255, 0.2);
}

.msg-box-info {
  position: relative;
  margin: 0.1vw;
  padding: 2vh 1.5vw;
  min-height: 10vh;
  background: linear-gradient(180deg, rgba(180, 140, 120, 0.4) 0%, rgba(160, 110, 90, 1) 100%);
  font-size: 1.2vw;
  text-align: left;
}

textarea {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2vh 1.5vw;
  background-color: transparent;
  border: none;
  width: calc(100% - 3vw);
  height: calc(100% - 4vh);
  margin: 0.1vw;
  color: white;
  font-size: 1.5vw;
}

textarea:focus {
  outline: none;
  border: none;
}

textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.msg-box-send {
  width: 25%;
  aspect-ratio: 670/100;
}

.msg-box-send img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  pointer-events: all;
  /* 添加过渡效果 */
  transition: all 0.2s ease-in-out;
}

@media (hover: hover) {
  .msg-box-send img:hover {
    transform: scale(0.99);
  }

  .msg-add img:hover {
    transform: scale(0.99);
  }
}

.msg-list-container {
  width: 100%;
  /* height: 60%; */
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  gap: 2.6%
}

.msg-list-item {
  width: 31%;
  height: 12vh;
  margin-top: 4vh;
  border: 0.2vw solid rgba(180, 140, 120, 1);
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.3),
    inset 0 1px 2px rgba(255, 255, 255, 0.2);
}

.msg-item-content {
  width: calc(100% - 2.2vw);
  height: calc(100% - 2vh - 0.2vw);
  margin: 0.1vw;
  padding: 1vh 1vw;
  background: linear-gradient(180deg, rgba(180, 140, 120, 0.4) 0%, rgba(160, 110, 90, 1) 100%);
  font-size: 1.2vw;
  text-align: left;
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
}